<% include ../partials/header %>

<div class="ui container">
    <h1>Editing Comment</h1>
    <hr>
    <form action="/assets/<%=assetID%>/notes/<%=note._id%>?_method=PUT" method="POST" class="ui form">
        
        <div class="field">
            <label>Comment</label>
            <input type="text" name="note[text]" value="<%= note.text %>">
        </div>
        <div class="one fields">
            <div class="field">
                <button class="btn btn-success btn-block">Submit!</button>
            </div>
        </div>
    </form>
    
    </div>
</div>

<%include ../partials/footer %>
